body {
    background-color: #9e9696;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-left: 12px;
}
ul li {
    padding: 8px;
    margin-left: 48px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(112, 76, 211);
}