body {
    background-color: #9e9696;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-left: 12px;
}
ul li {
    padding: 8px;
    margin-left: 48px;
}


img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

nav li {
    list-style-type: none;
    padding: 12px;
}
a {
    text-decoration: none;
    font-size: 32px;
    color: rgb(2, 2, 63);

}

a:hover {
    color: rgb(24, 45, 161);
    text-decoration: underline;
}